$primery:#347dac;
$lightPrimery:#9cc3dd;
$hoverLightPrimery:#80bbe2;
$delete:rgb(238, 43, 43);
$deleteLight:rgb(218, 69, 69);
$active-none:rgb(226, 225, 225);
$delete:#e14040;
$fields: white;
$text-border:rgb(228,226,226);
$table-head:#5a8daf;
$table-head-hover:#a4c0d3;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$line-color: #e3e2e2;